doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title= title
    |     
    link(href='https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600', rel='stylesheet')
    |     
    link(rel='stylesheet', href='../stylesheets/style.css')
    | 
    link(href='../images/logo.png', rel='icon')
    |     
    script(src='https://unpkg.com/animejs@3.0.1/lib/anime.min.js')
    |     
    script(src='https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js')
  body.is-boxed.has-animations
    .body-wrap
      header.site-header
        .container
          .site-header-inner
            .brand.header-brand
              h1.m-0
                a(href='../')
                  img.header-logo-image(src='../images/logo.png', width='64', height='64', style="border-radius: 50%;", alt='Logo')
      main
        section.pricing.section#preorder
          .container-sm
            .pricing-inner.section-inner
              .pricing-tables-wrap
                form.pricing-table.contact-table(onsubmit='return false;')
                  .pricing-table-inner.is-revealing
                    .pricing-table-main
                      .pricing-table-header.pb-24
                        .pricing-table-price
                          span.pricing-table-price-amount.h1 #{title}
                      table#table
      footer.site-footer
        .container
          .site-footer-inner
            .brand.footer-brand
              a(href='../')
                img.header-logo-image(src='../images/logo.png', width='48', height='48', style="border-radius: 50%;", alt='Logo')            |                     
            ul.footer-links.list-reset
              li
                a(href='../') Home
              li
                a(href='../preorder') Preorder                           
              li
                a(href='../contact') Contact us
              li
                a(href='../about') About us
            |                                  
            .footer-copyright &copy; 2023 SchoolFood, all rights reserved
    |     
    script(src='../js/main.js')
    script(type="text/javascript")
      const data = `!{data}`
      function populateTable() {
        const tableEle = document.getElementById("table")
        JSON.parse(data.replace(/\n/g, "\\n")).forEach(row => {
          const rowEle = document.createElement("tr");
          row.forEach(cell => {
            const cellEle = document.createElement("td");
            cellEle.innerText = cell;
            rowEle.appendChild(cellEle);
          });
          tableEle.appendChild(rowEle);
        });
      };
      if (!data) {
        console.log("No Data!")
      } else populateTable();